/* 1. Estilos base (Escritorio - Mobile-First) */
.app-main-layout {
  /* Define los estilos de escritorio como base */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  padding: 0 20px;
}

.job-list-container {
  width: 25%;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 5px;

  position: sticky;
  top: 20px;
  align-self: flex-start;
}
.assignment-container-main {
  width: 85%;
}
.employee-list-container {
  width: 25%;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 5px;

  position: sticky;
  top: 20px;
  align-self: flex-start;
}

/* 2. Media Query para Móviles (Menos de 600px) */
@media (max-width: 600px) {
  /* CLAVE: Reemplaza la dirección de flexión */
  .app-main-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Ocupar el ancho completo en móvil */
  .job-list-container,
  .assignment-container-main,
  .employee-list-container {
    width: 95%;
    max-width: 95vw;
  }
}
